<section class="packages-main">
    <!-- This is where we need to repeat over our data that we are getting from our controller. The controller is getting the data from the service
     If you haven't made teh controller do that now and include it on your state object in app.js-->
    <section ng-repeat="dest in destinations" class="package-card">
        <!-- Once we have the data we can use {{}} to bind that data to our view -->
        <!--Add the image link from the data here. Remember to put something in the alt tag, perhaps the name of the city-->
        <img  ng-src="{{dest.image}}"alt="">
        <!-- Now we can start to extract the data and bind it to our different elements here-->
        <h6> {{dest.city}} </h6>
        <h1>{{dest.country}}<!--The country name goes here--></h1>
        <p>{{dest.desc}}<!--The description goes here--></p>
        <h3 ui-sref="booked">Package Start At ${{dest.price}}<!--The package price goes here--></h3>

        <!--You will need to make the ui-sref work. It should point to the booked state. If you look at your app.js the booked state
       is expecting an id to be passed along You can get that id from the data object that we are repeating over -->
        <a ui-sref="booked({id: dest.id})"><button>Book Now</button></a>
    </section>
</section>
